{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 110,
  "importOrder": ["(.*)\\.s?css$", "^react(.*)$", "<THIRD_PARTY_MODULES>", "^[../]", "^[./]"],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
